
header{
	background-color: #ffc107;
}

.blur{
	backdrop-filter: blur(50px);
}

.banner{
	height: 70vh;
	background-position:center center;
	background-size:cover;
}

.news-article:nth-child(2n+1){
	background-color: #eee;
}